body{
  font-family: 'Raleway', sans-serif;
  color:black;
}

nav{
  display: flex;
  margin-right: 10px;
}

#logo{
  margin-right: auto;
}

#logo img{
  width: auto;
  height: 50px;
  margin-right: auto;
  padding-left: 30px;
}

header{
  display: flex;
  padding-right: 40px;

}
#onglet
{
  display: flex;
  justify-content: flex-end;
  font-size: 1em;

}
.space{  padding: 5px;
  margin-right:30px;

}
#onglet a{

  color:black;
  text-decoration: none;
}
#onglet a:hover{
    color: #0065FC;

}


.space:hover,.space3:hover /* au survol*/
{
  color: #0065FC;
  border-top: 2px solid #0065FC ;

}
/*temp*/
.space3 a{
  text-decoration: none;
  color: #0065FC;
  margin-bottom: 0px;
}
.space3{
  padding-left: -30px;
  padding-top: 6px;
  font-weight: bold;
}

.text_début{
  padding-left: 40px;
}
.text_début p{
  font-size: 0.9em;
  margin:10px 0 10px 0;
}
.text_début h3{
  margin-bottom: 0;
}
#localisation{
  display: flex;
  margin-left: 40px;
}
.marker{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  height:50px;
  width: 50px;
}
.ville_rech input{
  height: 50px;
  width: 200px;
  border-color: #f2f2f2 solid;
  font-weight: bold;
    font-size: 1em;
}
.rechercher{
  height: 50px;
  width: 100px;
  border-radius: 0 10px 10px 0;
  background-color:#0065FC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rechercher a{
  color: white;
  text-decoration: none;
}


#filtre
{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-left: 30px;
  font-size: 1em;

}
.filtre1:hover{
  background-color: #DEEBFF;
}
.filtre1
{
  font-size: 1em;
  font-weight: bold;
  margin: 10px;
  display: flex;
  align-items: center;
  border: 2px solid #AAA;
  border-radius: 50px;
  padding-right: 20px;
}

.filtre1 i{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #DEEBFF;
  color: #0065FC;
  display: flex;
  justify-content: center;
  align-items: center;

}


#info
{
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}
#info i{
  height: 15px;
  width: 15px;
  background-color:white;
  color: #0065FC;
  border-radius: 50px ;
  border: 2px solid #f2f2f2 ;
  margin: 10px;
  text-align: center;
  font-size: 0.9em;
}


.font_info{

  font-size: 0.9em;
}


/************HEBERGEMENT*************************/
.icon{ color: #0065FC;

}
.unchecked{color: #f2f2f2;}

#cannebiere,#port1,#mouette,#mer,#panier,#amina
{

  border-radius: 15px 15px 0 0 ;
    background-position: center;
  width: 100%;
  height: 55%;
}
#cannebiere
{
  background-image: url("../images/hebergements/3_medium/cannebiere.jpg");
  background-size: 100% 100%;
  background-position: center;

}
#port1
{
  background-image: url("../images/hebergements/4_small/port.jpg");
  background-size: 100% 100%;
  background-position: center;
}

#mouette
{
  background-image: url("../images/hebergements/4_small/mouette.jpg");
  background-size: 100% 100%;
  background-position: center;
}
#mer
{
  background-image: url("../images/hebergements/4_small/mer.jpg");
  background-size: 100% 100%;
  background-position: center;
}
#panier{
  background-image: url("../images/hebergements/4_small/panier.jpg");
  background-size: 100% 100%;
  background-position: center;
}
#amina{
  background-image: url("../images/hebergements/4_small/amina.jpg");
  background-size: 100% 100%;
  background-position: center;
}







div.marseille
{
  width: auto;
  height: 200px;
  margin:5px;
border-radius: 20px;
    border: 5px  solid #fff ;
  display: flex;
    flex-direction: column;
    white-space: normal;
    line-height: 0.1;
    background: white;
    box-shadow: 3px 5px 5px  #e2e2e2;
}



.box{     /* espase entre chaque box*/
  width: 100%;
  padding: 5px;
}

.desc
{
  padding-left: 5px;
  margin-top:-15px;
  line-height:12px;
  white-space: normal;

}
.desc p{
  font-size: 0.8em;
}



.card{
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 2fr;
grid-column-gap: 1px;
grid-row-gap: 1px;
width: 97%;
margin: 1px;
}

#hebergement{
  background-color: #f2f2f2 ;
    border-radius: 15px;
    width: 60%;
}
.titre_hebergement{
  padding-left: 20px ;
  padding-top: 10px;
}

.afficher{

  margin: 10px;
  padding: 10px 1px 1px 20px;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*******************POPULAIRE DROITE**************************/
#droite{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 48%;
  margin-left: 30px;
}



  /**************popolaire part***********/
  #blanc,#eau,#matin
  {
      border-radius: 15px 0 0 15px;
      width: 40%;
      height: 100%;
  }
  #blanc
  {
    background-image: url("../images/hebergements/3_medium/blanc.jpg");
    background-size: cover;
    background-position: center;
  }
  #eau
  {
    background-image: url("../images/hebergements/3_medium/eau.jpg");
    background-size: cover;
    background-position: center;
  }
  #matin
  {
    background-image: url("../images/hebergements/4_small/matin.jpg");
    background-size: cover;
    background-position: center;
  }


  /**********popolaire part*************************/


  .card1{
    display:flex;
    flex-direction: column;
    width: 100%;
  }

  .populaire_titre{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
  }

  .populaire_titre h3{
    padding-right: 15px;
  }

  .populaire_titre i{
    padding-left: 160px;
    padding-right: 20px;
  }
  .box1{     /* espase entre chaque box*/
      padding: 15px;
  }

  div.marseille1
  {
    width: auto;
    height: 130px;
    border-radius: 20px;
    border: 5px  solid #fff ;
    display: flex;
    flex-direction: row;
    background: white;
    box-shadow: 3px 5px 10px 0 #e2e2e2;
  }

  .desc1
  {
    margin-top: -15px;
    padding-left: 15px;
    line-height: 12px;
    width: 60%;
    white-space: normal;
  }
  .desc1 p{
    font-size: 0.9em;
  }

  .desc1 .icon{
    padding-top: 30px;
  }



/***********Big box gauche et droite***********/
  #milieu
  {
    display: flex;
    padding: 10px;
    margin: 10px 10px 30px 10px;
  }

  #milieu a
  {

    color:black;
    text-decoration: none;
  }
  #milieu a:hover
  {
      color: #0065FC;
  }


/****************************activité*******************/
.titre_a
{
  padding-left: 7px;
  font-weight: bold;
  line-height: 0.7;
}

#activité h3
{
  padding-left: 30px;
  margin-bottom: 1px;
}

#port,#calanques, #pomègues, #frioul, #garde, #longchamp
{
  border-radius: 15px 15px 0 0;

}

#port
{
  background-image: url("../images/activites/2_large/port.jpg");
    background-size: 210% 100%;
    background-position-x: center;
  height: 390px;
  width: 100%;
}
#calanques
{
  background-image: url("../images/activites/2_large/calanques.jpg");
    background-size: 200% 100%;
    background-position-x: center;
    height: 390px;
    width: 100%;
}

#pomègues
{
  background-image: url("../images/activites/2_large/pomegues.jpg");
  background-size: 140% 210%;
  background-position-y: -70px;
  background-position-x: -50px;
  height: 190px;
  width: 100%;
  margin-bottom: 0px;
}
#frioul
{
  background-image: url("../images/activites/3_medium/Frioul.jpg");
  background-size: 100% 160%;
  background-position-y: -2px;
  height: 110px;
  width: 100%;
}

#garde
{
  background-image: url("../images/activites/3_medium/garde.jpg");
  background-size: 100% 100%;
  height: 150px;
  width: 100%;
}

#longchamp{
  background-image: url("../images/activites/3_medium/longchamp.jpg");
  background-size: 110% 166%;
  background-position-y: -30px;
  height: 150px;
  width: 100%;
}
.colchamp{

}
.col1,.col3{
  width: 27%;
  border-bottom-width: 50px;
}

.col1, .col3,.colpomègues,.colfrioul,.colgarde,.colchamp{

  border-radius: 15px;
  box-shadow: 3px 5px 10px 0 #e2e2e2;
  margin: 18px;

}

.col2,.col4{
  display: flex;
  flex-direction: column;
  width: 30%;
}
#acti{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 30px;
  justify-content: space-between;
  line-height: 0.9em;
}

#activité a{

  color:black;
  text-decoration: none;
}
#activité a:hover{
    color: #0065FC;
}




/****************footer*************************/



.foot2
{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
}

footer
{
    background-color: #f2f2f2;

}

.font_footer b
{
  margin-bottom: 5px;
  line-height: 0.9em;
}

.box_footer
{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
   padding-left: 20px;
   padding-top: 20px;
   margin-bottom: 20px;

}


/****************MEDIA QUERYS******************/
@media (min-width: 300px) and (max-width: 768px)
{
  body
  {
    max-width: 768px;
    width: auto;
    overflow-x: hidden;
  }

  /*barre de nav*/

  header
 {

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #logo
  {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2
  }

  nav
  {
    grid-template-columns: 1fr 1fr;
      grid-row: 2;
      grid-column: 1 / span2;
      border-bottom: #f2f2f2 solid 2px;
      margin-right: -20px;
      margin-left: -20px;
  }

  #onglet div:hover
  {

  border-bottom:3px solid #0065FC;
  }

  .space:hover
  {
    border-style:none;
  }

  nav div
  {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width:100%;
  }


  .space3
  {
    padding-top: 6px;
    grid-column: 3;
    margin-left: 150px;
    font-weight: bold;

  }

  .space
  {
      padding: 5px;
      margin-right: 0;
      font-size: 1.1em;
  }

  .text_début
   {
    padding-left: 0px;
  }

  #localisation
  {
      margin-left: 0px;
  }

  #filtre
  {
    padding: 0;
    margin-left: 0;
  }

  #filtre h4
  {
      padding-right: 200px;
      padding-left: 20px;
  }

  #info
  {
    padding-left: 0;
  }



  .box_footer
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
  }
  .foot1
  {
    padding-bottom: 10px;
  }
  /*partie milieu */

  #eau, #matin
  {
    background-size: 140% 100%;
  }
  #blanc
  {
    background-size: 100% 200%;
    background-position-y: 177px;
  }

  #hebergement
  {
    order: 2;
    margin-top: 10px;
    width:100%;
  }

  #mer
  {
    background-size: 100% 298%;
    background-position-y: -112px;
  }

  #amina
  {
    background-size: 100% 300%;
    background-position-y: -94px;
  }

  #cannebiere,#mouette,#port1,#panier
  {
    background-size: 100% 149%;
    background-position-y: -15px;
  }


  .titre_hebergement
  {
    display: flex;
    font-size: 1.6em;
  }



  #droite{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  #milieu
  {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .card
  {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    width: 97%;
    margin: 1px;
  }

  .card1{
    display:flex;
    flex-direction: column;
    width: 95%;
  }
  .box1{
    width: 100%;
  }

  /*********PARTIE 3 ACTIVITE**********/


  #activité h3{
    padding-left: 30px;
  }

  #port,#calanques, #pomègues, #frioul, #garde, #longchamp
  {
    height: 150px;
  }

  #port,#calanques
  {
    background-size: 100% 144%;
  }

  #frioul,#garde,#longchamp
  {
    background-size: 100% 156%;
    background-position-y: -8px;
  }

  #pomègues
  {
    background-size: 115% 500%;
    background-position-x: center;
    background-position-y: 460px;
  }



  #acti
  {

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0px;
      justify-content: space-between;
      width: 100%;
  }

  .col1, .col3, .colpomègues, .colfrioul, .colgarde, .colchamp
  {
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 #ccc;
    margin: 0px;
    width: 100%;
    margin-bottom:10px;
  }

  .col2, .col4
  {
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  /********PARTIE 2 POPULAIRE***************/


  #populaire
   {
      background-color: #f2f2f2;
      border-radius: 15px;
      width: 100%;

    }
  .populaire_titre i
   {
      padding-left: 0%;
    }

  .populaire_titre
  {
    font-size: 1.4em;
  }

  .populaire_titre h3
  {
    padding-right: 170px;
  }


}
/*******************TABLETTE*********************************************/
@media (min-width: 768px) and (max-width: 1024px)
{
  body{
    max-width: 1024px;
    width: auto;
    overflow-x: hidden;
  }
  /*partie hebergement*/

  #cannebiere,#port1,#mouette,#mer,#panier,#amina
  {
    background-size: 100% 100%;
  }

  #blanc,#eau,#matin{
    background-size: 100% 160%;
  }

  /*activite*/

  #acti {
      display: grid;
      grid-template-columns: 400px 690px;
      grid-template-rows: 1fr 1fr;
      width: 100%;
      grid-column-gap: 0px;
  }




  .col2, .col4
  {
      display: flex;
      flex-direction: column;
      width: 56%;
  }

  .col1, .col3
  {
      width: 80%;
      border-bottom-width: 50px;
  }

  #hebergement
  {
    width: 100%;
  }

  #milieu
  {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0;
    width: 100%;
  }

  #populaire
   {
      background-color: #f2f2f2;
      border-radius: 15px;
      width: 100%;
  }

  .populaire_titre
  {
    justify-content: space-between;
  }

  #droite
  {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background-color: #f2f2f2;
      border-radius: 15px;
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
  }

  #filtre h4
  {
      margin-right: auto;
  }

}
