*{
  color: #0065FC;
  font-family: 'Raleway', sans-serif;
}

#logo, #cannebiere
{
  width: 5%;
}
#filtre
{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;

}
.filtre1
{
  margin: auto;
/*  padding: 50px;*/
}
.space
{

  padding: 5px;
}
#onglet
{
  color: #0065FC;
  display: flex;
/*  flex-direction: row*/
  justify-content: flex-end;
  /*flex-wrap: nowrap;
  align-items: space-between;
  */
}

#info
{
  display: flex;
  flex-direction: row;
}
