*{
  /*color: #0065FC; =couleur bleu
color: #AAA; =couleur grise
  */
  font-family: 'Raleway', sans-serif;
  display: block;
}

#logo{ width: 10%;}


#filtre
{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;

}
.filtre1
{
  margin: auto;
/*  padding: 50px;*/
}
.space
{

  padding: 5px;
}
#onglet
{
  display: flex;
/*  flex-direction: row*/
  justify-content: flex-end;

  /*flex-wrap: nowrap;
  align-items: space-between;
  */
}
#onglet:hover /* au survol*/
{  color: #0065FC;}

#info
{
  display: flex;
  flex-direction: row;
}

.icon{ color: #0065FC;}
.unchecked{color: #AAA;}

#cannebiere {

  border-radius: 15px 15px 0 0 ;

    background-position: center;


  width: 100%;
  height: 55%;
}
div.marseille
{
  width: auto;
  height: 200px;
  margin:0px;
border-radius: 20px;
    border: 5px  solid #fff ;
  display: flex;
    flex-direction: column;
    background: white;
/*flex-wrap: nowrap;*/
}
.box{     /* espase entre chaque box*/
  width: 80%;
    /*  display: grid;
      grid-row-gap: 50px;
      grid-template-columns: 1fr 1fr 1fr;
    /*  grid-template-rows: 2fr;*/
/*border-radius: 15px;
  border: 5px  solid #ccc ;*/
  padding: 5px;
  /*float: left;*/;
}
.desc
{
/*  padding: 5px 0 5px 20px; */
  margin: 1px;
  padding-left: 15px;
  line-height: 2px;
}
.card{
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 2fr;
grid-column-gap: 1px;
grid-row-gap: 1px;
}

#hebergement
{
/*  display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  background-color: grey;
    border-radius: 10px;
    width: 70%;
  /*padding : 10px;

  /*
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr ;

  /*flex-direction: row;
  /*flex-wrap: nowrap;*/
  /*padding: 0 5px;*/
/*  float: left;*/

  /*padding : 10px;*/
  /*border-color: color: #AAA;*/
}
