*{
  /*color: #0065FC; =couleur bleu
color: #AAA; =couleur grise
  */
  font-family: 'Raleway 500', sans-serif;
  display: block;
}


#logo{ width: auto;
  height: 50px;
  margin-right: auto;
}

header{
  display: flex;

}
#onglet
{
  display: flex;
/*  flex-direction: row*/
  justify-content: flex-end;
  font-weight: bold;
  font-size: 1em;
  /*flex-wrap: nowrap;
  align-items: space-between;
  */
}
.space{  padding: 5px;

}
#onglet a{

  color:black;
}
.space a{
text-decoration: none;
}

.space:hover /* au survol*/
{
  color: #0065FC;
  border-top: 5px solid #0065FC ;
  border-width: thin;

}

.text_début{
  padding-left: 30px;
}
.text_début p{
  font-size: 0.9em;
}
#localisation{
  display: flex;
  margin-left: 30px;
}
.marker{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  height:50px;
  width: 50px;
}
.ville_rech input{
  height: 50px;
  width: 200px;
  border-color: #f2f2f2 solid;
  font-weight: bold;
    font-size: 1em;
}
.rechercher{
  height: 50px;
  width: 100px;
  border-radius: 0 10px 10px 0;
  background-color:#0065FC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rechercher a{
  color: white;
  text-decoration: none;
}


#filtre
{
  display:flex;
  flex-direction: row;
  /*justify-content: flex-start;*/
  padding: 20px;
  margin-left: 10px;
  font-size: 1em;

}
.filtre1:hover{
  background-color: #DEEBFF;
}
.filtre1
{
  font-size: 1em;
  font-weight: bold;
  margin: 10px;
  display: flex;
  align-items: center;
  border: 2px solid #AAA;
  border-radius: 50px;
  padding-right: 20px;
/*  padding: 50px;*/
}
.filtre1 i{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #DEEBFF;
  color: #0065FC;
  display: flex;
  justify-content: center;
  align-items: center;

}


#info
{
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}
#info i{
  height: 15px;
  width: 15px;
  background-color:white;
  color: #0065FC;
  border-radius: 50px ;
  border: 2px solid #f2f2f2 ;
  margin: 10px;
  text-align: center;
  font-size: 0.9em;
}


.font_info{
  font-style: italic;
  font-size: 0.9em;
}


/************HEBERGEMENT*******************************/
.icon{ color: #0065FC;

}
.unchecked{color: #f2f2f2;}

#cannebiere {

  border-radius: 15px 15px 0 0 ;
    background-position: center;
  width: 100%;
  height: 55%;
}
#cannebiere1{
  border-radius: 15px 0 0 15px;
  width: 40%;
  height: 100%;
}
div.marseille
{
  width: auto;
  height: 200px;
  margin:5px;
border-radius: 20px;
    border: 5px  solid #fff ;
  display: flex;
    flex-direction: column;
    white-space: wrap;
    line-height: 0.1;
    background: white;
    box-shadow: 0 5px 10px 0;
 /*flex-wrap: nowrap;*/
}



.box{     /* espase entre chaque box*/
  width: 100%;
    /*  display: grid;
      grid-row-gap: 50px;
      grid-template-columns: 1fr 1fr 1fr;
    /*  grid-template-rows: 2fr;*/
/*border-radius: 15px;
  border: 5px  solid #ccc ;*/
  padding: 5px;

  /*float: left;*/;

}

.desc
{
/*  padding: 5px 0 5px 20px; */
  /*margin: 10px -10px 5px -10px ;*/
  /*padding-top: -100px;*/
  padding-left: 5px;
  margin-top:-20px;
  line-height:12px;
  white-space: wrap;
  /*line-height: 10px;*/
  /*display: flex;
  flex-direction: column;
  flex-wrap: wrap;*/
}



.card{
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 2fr;
grid-column-gap: 1px;
grid-row-gap: 1px;
width: 97%;
margin: 1px;
}

#hebergement{
  background-color: #f2f2f2 ;
    border-radius: 15px;
    width: 60%;
}
.titre_hebergement{
  /*display: flex;
  align-items: flex-start;*/
  padding: 10px ;
  font-size: 1.3em;
}
.afficher{

  margin: 10px;
  padding: 10px 1px 1px 20px;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*POPULAIRE DROITE**************************/
#droite{
  display: flex;
  /*flex-wrap: nowrap;*/
  flex-direction: column;
  align-items: flex-end;
}
#populaire{
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 90%;
  margin: 10px;
}
.card1{
  display:flex;
  flex-direction: column;
  width: 90%;
  /*align-items:flex-end;*/
}
.populaire_titre{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}
.populaire_titre i{
  padding-left: 150px;
}
.box1{     /* espase entre chaque box*/
  width: 100%;
    /*  display: grid;
      grid-row-gap: 50px;
      grid-template-columns: 1fr 1fr 1fr;
    /*  grid-template-rows: 2fr;*/
/*border-radius: 15px;
  border: 5px  solid #ccc ;*/
  padding: 15px;
  /*float: left;*/

}

div.marseille1
{
  width: auto;
  height: 130px;

border-radius: 20px;
    border: 5px  solid #fff ;
  display: flex;
    flex-direction: row;
    background: white;
/*flex-wrap: nowrap;*/
box-shadow: 0 5px 10px 0;
}
.desc1
{
/*  padding: 5px 0 5px 20px; */
  margin-top: -15px;
  /*margin-bottom: -55px;*/

  padding-left: 15px;
  line-height: 12px;
/*  width: 60%;*/
  white-space: wrap;
}
.desc1 .icon{
  padding-top: 30px;
}



/****Big box gauche et droite***********/
#milieu{
  display: flex;
  padding: 10px;
  margin: 20px;
}


/****************************activité*******************/
.titre_a{
  margin: auto 10px 10px 10px ;
  font-weight: bold;
  line-height: 0.1;

}
#port, #pomègues, #frioul, #garde, #longchamp{
  border-radius: 15px 15px 0 0;

}
#port{
  height: 370px;
  width: 100%;
}

#pomègues{ height: 190px;
  width: 100%;
  margin-bottom: 0px;
}
#frioul{
  height: 110px;
  width: 100%;
}
#garde{
  height: 150px;
  width: 100%;
}
#longchamp{
  height: 150px;
  width: 100%;
}
.colchamp{

}
.col1,.col3{
  width: 20%;
  /*line-height: 1px;*/
  border-bottom-width: 50px;
}

.col1, .col3,.colpomègues,.colfrioul,.colgarde,.colchamp{

  border-radius: 15px;
  box-shadow: 0 5px 10px 0;
  margin: 10px;

}


/*.coldouble{
  display: flex;
  flex-direction: column;
}*/
.col2,.col4{
  display: flex;
  flex-direction: column;
  width: 30%;
}
#acti{
  /*border: 1px solid;*/
  display: flex;
  flex-direction: row;
  /*margin: 20px;*/
  justify-content: space-between;
}
#activité{
  /*border: 1px solid;*/
  /*padding: 20px;
  margin: 20px;*/
}


/*.card3{
/*display: grid;
grid-template-columns: 1fr ;
grid-template-rows: 1fr ;
grid-column-gap: 10px;
grid-row-gap: 30px;
width: 100%;
margin: 0px;
padding: 0px;
}*/













/*****************footer*********************************/

/*.foot1{
/*  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;
 padding-left: 20px;
 padding-top: 20px;
 margin-bottom: 20px;
 line-height: 0.1em;
 }*/

.foot2{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
}
.box_footer{
  /*display: flex;
  flex-direction: row;*/
  background-color: #f2f2f2;
  display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
   padding-left: 20px;
   padding-top: 20px;
   margin-bottom: 20px;
   line-height: 0.1em;


}
